@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Space+Grotesk:wght@400;500;600;700&display=swap");

html {
  font-family: "Pacifico", cursive;
  font-family: "Space Grotesk", sans-serif;
}

body {
  min-height: 100vh;
  background-color: bisque;
  text-align: center;
  color: black;
}
